/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #17153B;
    color: #C8ACD6;
}
.container {
    width: 80%;
    margin: auto;
    background: #2E236C;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}
h1, h2 {
    color: #C8ACD6;
}
h1 {
    text-align: center;
}
ul {
    list-style-type: square;
    margin-left: 20px;
}
.section {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.footer {
    text-align: center;
    padding: 10px;
    background: #004080;
    color: white;
    margin-top: 20px;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
	
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	#container {
		width:80%;
		
	}
	
	nav {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	
	nav section {
		flex:0 1 48%;
	}
		
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	.mobile {
		display:none;
	}
	
	.desktop{
		display:block;
	}
	
	nav section{
		flex:0 1 32%;
	}
	
	
} /* closes 1024px+ */





